.WorksContainer{
    height: 100vh;
    min-height: 1024px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-flow: column;
    gap: 5.5rem;
    position: relative;
    /* box-sizing: border-box; */
}
.titleBox{
    overflow: hidden;
    margin-top: 114px;
    margin-left: 5.25rem;
    
}
.WorksContainer h1{
    margin: 0;
    height: 100px;
    font-size: 122px;
    display: flex;
    align-items: center;
    position: relative;
    transition: ease .65s;
    box-sizing: border-box;
    font-weight: normal;
    bottom: -102px;
}
.workContainer{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    position: relative;
    transition: ease .65s;
    bottom: -500px;
}
.mainImg{
    width: 303px;
    height: 420px;
    background-color: #181818;
    z-index: 2;
}
.workTitle{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: ease .65s;
    top: 0px;
}
.workTitle h2{
    font-size: 24px;
    font-weight: normal;
}
.workTitle p{
    font-size: 14px;
    color: #767676;
}
.hideWorkTitle{
    top: -100px;
}
.test{
    width: 40px;
    height: 40px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex-flow: column;
}
.swiperBtns{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.prevBtn, .nextBtn{
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: unset;
    cursor: pointer;
}
.prevBtn{
    background-image: url(../assets/prevButton.svg);
}
.nextBtn{
    background-image: url(../assets/nextButton.svg);
}