.WorksContainer{
    height: 100vh;
    min-height: 800px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-flow: column;
    gap: 2.25rem;
    /* position: relative; */
    padding: 113px 1rem 3rem 1rem;
}
.titleBox{
    overflow: hidden;
}
.WorksContainer h1{
    margin: 0;
    height: 40px;
    font-size: 50px;
    display: flex;
    align-items: center;
    position: relative;
    transition: ease .65s;
    box-sizing: border-box;
    font-weight: normal;
    bottom: -40px;
}
.workContainer{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    position: relative;
    transition: ease .65s;
    bottom: -500px;
}
.mainImg{
    width: 303px;
    height: 420px;
    background-color: #181818;
    z-index: 2;
}
.workTitle{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: ease .65s;
    top: 0px;
}
.workTitle h2{
    font-size: 24px;
    font-weight: normal;
}
.workTitle p{
    font-size: 14px;
    color: #767676;
}
.hideWorkTitle{
    top: -100px;
}
.swiperBtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}
.prevBtn, .nextBtn{
    width: 36px;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: unset;
    cursor: pointer;
    position: relative;
    transition: ease .65s;
    bottom: -36px;
}
.prevBtn{
    background-image: url(../../assets/prevButton.svg);
}
.nextBtn{
    background-image: url(../../assets/nextButton.svg);
}